@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/*
*
*   GLOBAL OVERRIDE
*
*/
:root {
    /*#RRGGBBAA*/
    --primary-hero-color:#6358f833;
    --secondary-hero-color:#05031dee;
    --primary-footer-color:#292069ff;
    --secondary-footer-color:#07041Eff;
    --primary-important-color:#1E1750ff;
    --primary-content-color:#eae5f5ff;


    --primary-text-color:#f0f8ffff;
    --secondary-text-color:#6b6e70ff;
    --tetriary-text-color:#2d2e30ff;

    --primary-text-link-color:var(--pprimary-text-color);
    --secondary-text-link-color:var(--pprimary-text-color);
}

html,
body {
    background-color: #121212;
    color: var(--primary-text-color);
    font-family: 'Inconsolata', monospace;
}

a {
    color: var(--primary-text-link-color);
    text-decoration: underline !important;
}

a:hover {
    font-weight: bold;
    color: var(--secondary-text-link-color);
}

main {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(45deg, var(--primary-hero-color), var(--secondary-hero-color) 70%), url(../assets/hero-backdrop.webp);
}


/*
*
*   GENERAL
*
*/
.content-section-start {
    padding: 120px 0 0;
}

.content-section-end {
    padding: 0 0 120px;
}

.main-content {
    background-color: var(--primary-content-color);
}


/*
*
*   WAVY
*
*/
.waves {
    display: block;
    width: 100%;
    height: 80px;
    z-index: 5;
    position: relative
}

.waves-inverted {
    transform: rotateZ(180deg);
}

.wave-first use {
    animation: move-forever 10s linear infinite;
    animation-delay: 0s
}

.wave-second use {
    animation: move-forever 7s linear infinite;
    animation-delay: 0s
}

.wave-third use {
    animation: move-forever 5s linear infinite;
    animation-delay: 0s
}


/*
*
*   SECTIONS
*
*/
section {
    overflow: hidden
}

.section-bg {
    background-color: var(--primary-content-color);
}

.section-title {
    padding: 40px 0 30px;
}

.section-title h2 {
    color: var(--tetriary-text-color);
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    background: var(--tetriary-text-color);
    bottom: 0;
    left: calc(50% - 50px)
}


/*
*
*
*
*/
.header-list {
    width: 100%;
}

.header-contact {
    float: right;
}

/*
*
*   INTRODUCTION
*
*/
#introduction {
    color: var(--pprimary-text-color)
}

.container-introduction {
    padding: 120px 0 120px;
}

.container-introduction p {
    margin-top: 25px;
    line-height: 2;
}

.container-introduction h1 {
    margin-top: 25px;
}

.container-profile img {
    width: 25%;
    border-radius: 100%;
    display: block;
}


/*
*
*   LIST CONTAINER
*
*/
.x-container {
    margin: 10px 10px 30px;
    border-radius: 10px;
}

.x-container:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.x-container a{
    text-decoration: none !important;
}

.x-container a:hover{
    font-weight: normal;
}

.x-container-img {
    border-radius: 10px 10px 0 0;
    background-color: #ffffff;
    height: 200px;
    width: 100%;
}

.x-container-img img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
}

.x-container-description {
    color: var(--primary-text-color);
    padding: 5px 2px 5px;
    background-color: var(--primary-important-color);
    border-radius: 0 0 10px 10px;
}

.x-container-description p{
    padding: 10px;
}


/*
*
*   ACADMEIC
*
*/
#academic-section {
    color: var(--secondary-text-color);
    padding-top: 100px;
}


/*
*
*   PROJECT
*
*/

#projects-section {
    color: var(--secondary-text-color);
}


/*
*
*   IMPORTANT
*
*/
#important {
    padding-bottom: 15px;
}

.important-container {
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: var(--primary-important-color);

}

.important-container img {
    filter: brightness(0) saturate(100%) invert(95%) sepia(4%) saturate(1560%) hue-rotate(184deg) brightness(102%) contrast(101%);
    height: 16px;
    width: 16px;
    padding: 10px 0 10px;
    margin-left: auto;
    margin-right: auto;
}

.important-container p {
    padding: 10px 5px 10px;
}


/*
*
*   FOOTER
*
*/
footer {
    font-size: 14px;
    background: linear-gradient(28deg, var(--primary-footer-color) 20%, var(--secondary-footer-color));
    background-size: cover;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-row-container{
    max-width: 500px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-row div {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*NOTE: brightness(0) saturate(100%) forces black starting colour, as the colour pallete rotation is calculated from colour = #000000*/
.footer-row img {
    filter: brightness(0) saturate(100%) invert(87%) sepia(0%) saturate(32%) hue-rotate(158deg) brightness(95%) contrast(92%);
}

.footer-row img:hover {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(103deg) brightness(105%) contrast(105%);
}

#sourcecode-hearth:hover {
    color: #C00030;
}


/*
*
*   SCALING 
*
*/
@media screen and (min-width: 601px) and (max-width: 992px)  {
    .footer-row-container{
        width: 400px;
    }
}
  
@media screen and (max-width: 600px ) {
    .footer-row-container{
        width: 300px;
    }

    main {
        background-attachment: scroll;
    }
}


/*
*
*   ANIMATIONS
*
*/
@keyframes up-down {
    0% {
        transform: translateY(10px)
    }

    100% {
        transform: translateY(-10px)
    }
}

@keyframes move-forever {
    0% {
        transform: translate(85px, 0%)
    }

    100% {
        transform: translate(-90px, 0%)
    }
}


/*
*
*   SCROLLBAR
*
*/
::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: var(--secondary-hero-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-content-color);
  
}